*{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.calc_body{
    width : 317px;
    height: 500px;
    margin : 10px auto;
    padding : 5px; 
    background-color: #999;
    border : 3px solid black; 
    border-radius : 10px;
    align-items : center;
    background: linear-gradient(180deg,#979393,#979393 90%,#615d5d);
}
    
.calc_screen{
    height : 90px; 
    width : 300px;
    margin-bottom : 5px;
    padding-right : 9px;
    background : -webkit-gradient(linear,left top, left bottom, from(#EDEDED), to(#DCDCDC));
    background : -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    text-align : right;
    font-size :70px;
    color : black;
    border-radius: 5px;
    overflow-x:scroll;

}

.numbers{
    margin : 0px;
    display: flex;
    flex-wrap : wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left :40px;
    padding-right: 40px;
    padding-top : 10px;
}



.buttons{
	text-decoration : none;
    display : block;
    width :50px;
    height : 50px;
    float : left;
    padding : 2px;
    margin :5px 6px;
    text-align : center;
    font-size : 39px;
    background : -webkit-gradient(linear,left top, left bottom, from(#EDEDED), to(#827979));
    background : -moz-linear-gradient(top, #EDEDED, #827979);
    border-radius : 10px;
    cursor : pointer;
}

.operators {
	display : flex;
	flex-wrap : wrap;
	padding-top : 20px;
	justify-content: space-evenly;
}

.operators .radical{
    padding-top : 7px;
    font-size : 25px;
}

.operators div{
    text-decoration : none;
    display : block;
    width :45px;
    height : 45px;
    float : left;
    padding : 2px;
    margin : 5px 6px;
    text-align : center;
    font-size : 39px;
    background : -webkit-gradient(linear,left top, left bottom, from(#EDEDED), to(#827979));
    background : -moz-linear-gradient(top, #EDEDED, #827979);
    border-radius : 10px;
    cursor : pointer;

}

#clear_all {
	background : linear-gradient(180deg,rgba(255, 193 ,1 ,0.76),orange 60%,#ab530f);
}



#clear_all:hover {
	background : #ff9f00;
}

.operators .negative, .modulo{
	font-size : 35px;
}

.buttons:hover {
    background : darkgrey;   
}

.operators div:hover{
    background : darkgrey; 

}

.buttons:active{
    border : 1px #bbbbd5 solid;
}

.operators div:active{
    border : 1px #bbbbd5 solid
}

#clear_all:active{
    border : 1px rgba(221, 191, 67, 0.79) solid;
}